/*section {
    border: 1px solid var(--brdr-color);
    border-radius: 16px;
    margin-top: 32px;
    padding: 32px;
}

section > * {
    padding: 16px;
}

.card {
    border: 1px solid var(--brdr-color);
    border-radius: 16px;
}*/