.breadcrumb-separator i {
    padding: 0px 10px;
    font-size: 0.8em;
    color: var(--text-color);
}

.breadcrumb-item {
    font-weight: normal;
    font-size: 0.8em;
}

.breadcrumbs-nav .breadcrumbs {
    gap: 0 !important;
    padding-left: 16px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--primary-color);
}