.doc-header {
    display: flex;
    gap: 2em;
    padding: 16px 0;
}

.doc-info {
    font-size: 1.6em;
}

.doc-info .card-info {
    display: flex;
    flex-direction: column;
}

.rateios {
    margin: 32px 0px;
    font-size: 1em;
}

.rateios header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rateios header h1 {
    color: rgba(120, 120, 120, 0.4);
    font-weight: bold;
    font-size: 1em;
}

.rateios p {
    font-size: 0.8em;
}

.rateios header hr {
    flex-grow: 1;
    height: 0px;
    margin: 0px 16px;
    margin-right: 0px;
    border-color: rgba(238, 238, 238, 0.5);
}

.rateios .inline-list {
    gap: 1rem;
    justify-content: space-between;
}

.primary-data {
    font-weight: bold;
    color: var(--primary-color);
}

.action-buttons {
    flex-grow: 1;
}

.action-buttons .inline-list {
    justify-content: flex-end;
    gap: 0.5em
}