.container-apports {
    margin-top: 32px;
    /*max-width: 560px;*/
    min-width: 416px;
}

.container-apports button,
.container-apports select {
    font-size: 0.9em;
}

.container-apports .dhx_grid {
    background-color: transparent;
}

.apports-action {
    font-size: 0.7em;
}

.rateios .inline-list {
    gap: 1rem;
    justify-content: space-evenly;
}

.container-apports header {
    position: relative;
    margin-bottom: -24px;
    padding: 8px;
    padding-bottom: 32px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(0, 70, 156, 0.15);
}

.container-apports header .tertiary-btn {
    background-color: transparent;
    font-weight: bold;
}

/*
.apports-table {
    position: relative;
    background-color: var(--bgnd-color);
    border: 1px solid var(--brdr-color);
    border-radius: 8px;
    border-spacing: 0;
}

.apports-table input {
    max-width: 64px;
    margin: 0;
    font-size: 0.9em;
}

.apports-table thead th,
.apports-table tfoot td {
    padding: 8px;
}

.apports-table td {
    padding: 8px;
    max-width: 64px;
    text-align: center;
}

.apports-table td:last-child {
    padding: 8px 16px;
}

.apports-table th, .apports-table .tb-ltotal {
    background-color: rgba(238, 238, 238, 0.5);
}

.apports-table select,
.apports-table option {
    border: none;
    background-color: transparent;
}

.apports-table td:first-child {
    max-width: 200px;
}


.apports-table td {
    border-top: 1px solid var(--brdr-color);
    overflow: hidden;
}

.apports-table td:not(:first-child), .apports-table th:not(:first-child) {
    border-left: 1px solid var(--brdr-color);
}

.apports-table td.numeric-value {
    text-align: right;
    max-width: 96px;
}

.apports-table td.percent-value {
    max-width: 72px;
}

.apports-table td.text-value {
    text-align: left;
}

.apports-table th:not(:first-of-type) {
    text-align: center;
}

.apports-table thead, .apports-table tfoot {
    font-weight: bold;
}

.apports-table input[type="number"]::-webkit-outer-spin-button,
.apports-table input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    text-align: right;
}

.apports-table input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    text-align: right;
    border: none;
    width: fit-content;
    max-width: 56px;
}

.apports-table option:disabled {
    display: none;
}
*/