.container-apports {
    margin-top: 32px;
    /*max-width: 560px;*/
    min-width: 416px;
}

.container-apports button,
.container-apports select {
    font-size: 0.9em;
}

.container-apports .dhx_grid {
    background-color: transparent;
}

.apports-action {
    font-size: 0.7em;
}

.rateios .inline-list {
    gap: 1rem;
    justify-content: space-evenly;
}

.container-apports header {
    position: relative;
    margin-bottom: -24px;
    padding: 8px;
    padding-bottom: 32px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(0, 70, 156, 0.15);
}

.container-apports header .tertiary-btn {
    background-color: transparent;
    font-weight: bold;
}

.dhx_popup-content .dhx_list-item {
    height: auto !important;
}