.container-apports {
    margin-top: 32px;
    min-width: 416px;
    /*max-width: 560px;*/
}

/*.container-apports.single {
    min-width: 208px;
}

.container-apports.multi {
    min-width: 416px;
}*/

.container-apports button,
.container-apports select {
    font-size: 0.9em;
}

.container-apports .dhx_grid {
    background-color: transparent;
}

.apports-action {
    font-size: 0.7em;
}

.container-apports header {
    position: relative;
    margin-bottom: -24px;
    padding: 8px;
    padding-bottom: 32px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(0, 70, 156, 0.15);
}

.container-apports header .tertiary-btn {
    background-color: transparent;
    font-weight: bold;
}

.dhx_popup-content .dhx_list-item {
    height: auto !important;
}

.combo-content {
    /*border: 2px solid red;*/
    width: 100%;
}

.combo-content li {
    /*border: 2px solid green;*/
    overflow-x: hidden;
}

.combo-content .inline-list {
    width: 100%;
    /*border: 2px solid blue;*/
    gap: 0 !important;
}

.combo-content li:first-child {
    flex-grow: 1;
    max-width: calc(100% - 16px);
}

.combo-btn {
    width: 16px;
}

.dhx_grid-cell.combo {
    padding-right: 8px;
}

.dhx_grid-cell.combo .combo-content li {
    overflow: hidden;
    text-overflow: ellipsis;
}