.filtering .centered {
    padding: 16px 128px;
    padding-top: 64px;
    background-color: var(--bgnd-color);
}

.filtering {
    padding-bottom: 16px;
    position: sticky;
    top: 40px;
    background-color: var(--bgnd-color);
    z-index: 10;
}

.search-area {
    display: flex;
    border: 1px solid var(--brdr-color);
    box-sizing: content-box;
    border-radius: 32px;
    padding: 16px;
}

.search-area input {
    border: none;
    margin: 0;
    flex-grow: 1;
    text-indent: 16px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.info-selector {
    margin: 0;
    padding: 0;
    border: 2px solid var(--brdr-color);
    display: flex;
    max-width: 256px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.info-selector button {
    padding: 4px 16px;
    border: none;
    flex-grow: 1;
    background-color: transparent;
    text-align: center;
}

.info-selector button.active {
    background-color: rgba(180, 200, 255, 0.7);
}

.info-selector button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.info-selector button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.info-selector button:not(:last-child) {
    border-right: 2px solid var(--brdr-color) !important;
}

.filters-list-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.filters-list-container .inline-list {
    width: auto;
}

.filters-list-container button,
.applied-filter span {
    font-weight: 700;
    font-size: 0.6em;
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--brdr-color);
    background-color: transparent;
    /*margin-top: 16px;*/
}

.applied-filter span {
    padding-right: 0;
}

.applied-filter span button {
    font-size: 1em;
    padding: 0px 4px;
    margin-left: 2px;
    border: none;
}

.button-filters {
    display: flex;
    gap: 0.3em;
    /*border: 2px solid blue;*/
}

.applied-filters.inline-list {
    gap: 0.1em;
}

.filters-list-container button.tertiary {
    font-weight: 400;
}

.filter-selection {
    list-style-type: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}