:root {
    --primary-color: #00469B;
    --secondary-color: #363632;
    --success-color: #008A17;
    --danger-color: #CC0000;
    --warning-color: #FED12A;
    --warning-text-color: #CB8700;
    --info-color: #04797F;
    --bgnd-color: #FFFFFF;
    --icon-color: #757575;
    --brdr-color: #DDDDDD;
    --text-color: #363632;
    --clickable-bgnd-hover-color: rgba(200, 200, 255, 0.1);
}

.action-btn {
    border-radius: 20px;
    border-width: 1px;
    padding: 10px 16px;
}

.primary-btn {
    background-color: var(--primary-color);
    color: var(--bgnd-color);
    border: none;
}

.secondary-btn {
    background-color: var(--bgnd-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 20px;
}

.tertiary-btn {
    background-color: var(--bgnd-color);
    color: var(--primary-color);
    border: none;
}

.icon {
    color: var(--icon-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16pt !important;
    color: var(--text-color) !important;
    font-family: "PT Sans", sans-serif !important;
}

body {
    position: relative;
    background-color: var(--bgnd-color);
}

body > main {
    position: relative;
    padding: 32px;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.2rem;
}

button:hover,
a:hover,
select:hover {
    cursor: pointer;
}

button.tertiary {
    border: none !important;
}

button.tertiary.danger,
.tertiary-btn.danger {
    color: var(--danger-color);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hidden {
    /*visibility: hidden;*/
    display: none;
}

.flex-container {
    display: flex;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.inline-list, .cards-list {
    list-style-type: none;
}

.inline-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}

.upper-label {
    position: relative;
    font-size: 0.5em;
    display: block;
    font-weight: bold;
}

.upper-label + * {
    font-size: 0.5em;
}

.left-floating {
    float: left;
}

.right-floating {
    float: right;
}

.clickable:hover {
    background-color: var(--clickable-bgnd-hover-color);
    cursor: pointer;
}

.clickable.primary-btn:hover {
    background-color: rgba(0, 70, 156, 0.8);
}

body > header {
    min-height: 50px;
    height: 80px;
}

main header h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

input:focus {
    outline: none;
}

input:disabled:hover, input[readonly="readonly"] {
    cursor: inherit;
}